
body {


  text-align: center;
}

.navigation {
  background-color: rgba(255, 255, 255, 0.9);
  height: auto;
  text-align: center;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 999;
}


.navigation ul {
  padding: 0;
}

.navigation li {
  color: #666666;
  display: inline-block;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 2px;
  margin: 20px;
  text-transform: uppercase;
}
h5 {
  text-transform: uppercase;
  font-family: "monospace";
  font-size: 30px;
  color: #fc6791;
  position: relative;

}
/** Right side styling **/

.content-box {
  height: 600px;
  margin: auto;
  position: relative;
  top: 150px;
  width: 100%;
  overflow: scroll;
}
img {
  display: block;
  margin: auto;
  width: 50%;
  font-weight: bolder;
  line-height: 50px;
}
.content-header {
  background: url("image.jpg") center;
  background-size: 30%;
  position: relative;
  top: -20px;
  height: 300px;
}
.logo-header {
  background-size: 100px 80px;
  background: 20%;
  top: 10px;
  margin: 0 auto;
  width: 20%;
}
h4 {
  color: #fc6791;
  font-family: ‘Trebuchet MS’, Helvetica, sans-serif;
  font-size: 25px;
  font-weight: lighter;
  line-height: 50px;
  background:url('logo.jpg') no-repeat;
  margin: 0 auto;
  padding: 15px;
  position: relative;
  text-transform: uppercase;
  top: 300%;
}

.content-body {
  margin: 0 auto;
  width: 90%;
}

h1 {

  background: transparent;
  color: #42f4e8;
  font-family: ‘Trebuchet MS’, Helvetica, sans-serif;
  font-size: 40px;
  font-weight: 100;
  line-height: 60px;
  margin: 0 auto;
  padding: 20px;
  position: relative;
  text-transform: uppercase;
  top: 220px;
  width: 70%;
}

h2 {
  color: #FFF;
  font-family: 'Roboto', sans-serif;
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 2px;
  margin: 0;
  text-transform: uppercase;
}

h3 {
  color: rgba(255, 255, 255, 0.6);
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 100;
  letter-spacing: 2px;
  margin: 0;
  text-transform: uppercase;
}

p {
  color: #333;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 100;
  line-height: 34px;
  min-width: 200px;
  max-width: 800px;
  min-height: 100px;
  max-height: 200px;
}

.content-box ul {
  padding: 40px 0;
}

.content-box li {
  background-color: #05A8AA;
  display: inline-block;
  list-style: none;
  margin-bottom: 3px;
  padding: 20px 40px;
  width: 200px;
}

.btn {
  color: #05A8AA;
  border: 2px solid #05A8AA;
  border-radius: 8px;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 700;
  margin: 10px 0;
  padding: 20px;
  text-decoration: none;
  text-transform: uppercase;
}

.btn:hover {
  background-color: #05A8AA;
  border: 1px solid #05A8AA;
  color: #FFF;
}
.btn2 {
  color: #05A8AA;
  border: 2px solid #05A8AA;
  border-radius: 8px;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 700;
  margin: 10px 0;
  padding: 10px;
  text-decoration: none;
  text-transform: uppercase;
}
.btn2:hover {
  background-color: #fc6791;
  border: 1px solid #05A8AA;
  color: #FFF;
}
.burger details {
  padding: 50px;
}